 <div style="background: #f3f3f3;">
          <div class="container" style="position: relative;">
            <br>
            <h2 class="featured-home-chefs-title a-bold" style="text-align:center; font-size: 30px; margin-bottom: 15px">How it works<span></span></h2>
<br>
            <div class="row">

              <div class="col-xs-12 col-sm-2">
                <div class="how-it-works-title text-center">
                  <img src="https://image.flaticon.com/icons/svg/749/749998.svg" class="how-it-works-icon" alt="2." width="90">

                </div>
                <div class="how-it-works-content">Select by cuisine, search by chefs &amp; pay securely</div>
              </div>

              <div class="col-xs-12 col-sm-2">
                <div class="how-it-works-title text-center">
                  <img src="https://image.flaticon.com/icons/svg/782/782127.svg" class="how-it-works-icon" alt="3." width="90">
                </div>
                <div class="how-it-works-content">Client makes a reservation</div>
              </div>

              <div class="col-xs-12 col-sm-2">
                <div class="how-it-works-title text-center">
                  <img src="https://image.flaticon.com/icons/svg/649/649395.svg" class="how-it-works-icon" alt="4." width="90">
                </div>
                <div class="how-it-works-content">Chef prepares the ingredients, arrives and starts cooking</div>
              </div>

              <div class="col-xs-12 col-sm-2">
                <div class="how-it-works-title text-center">
                  <img src="https://image.flaticon.com/icons/svg/651/651173.svg" class="how-it-works-icon" alt="5." width="90">
                </div>
                <div class="how-it-works-content">Enjoy great food at home</div>
              </div>

             <div class="col-xs-12 col-sm-2">
                <div class="how-it-works-title text-center">
                  <img src="https://image.flaticon.com/icons/svg/578/578044.svg" class="how-it-works-icon" alt="6." width="90">
                </div>
                <div class="how-it-works-content">Chef returns client's kitchen to its original state</div>
            </div>

            <div class="col-xs-12 col-sm-2">
                <div class="how-it-works-title text-center">
                  <img src="https://image.flaticon.com/icons/svg/651/651191.svg" alt="3." width="90">
                </div>
                <div class="how-it-works-content">Client and chef rate each other</div>
              </div>

          </div>
        </div>
      </div>
