<br>
<div class="tabs">
  <a class="tab active" href="#">
    <h3>4</h3>
    <p> <%= @bookings %> Bookings</p>
  </a>
  <a class="tab" href="#">
    <h3>456</h3>
    <p>Dishes</p>
  </a>
  <a class="tab" href="#">
    <h3>189</h3>
    <p>Past Bookings</p>
  </a>
  <a class="tab" href="#">
    <h3>13</h3>
    <p>Messages</p>
  </a>
</div>
