<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74ac7c1aa35dc36f50cc1ac7517c70a7&auto=format&fit=crop&w=1650&q=80');">
  <div class="banner-content">
    <h1>WokOut</h1>
    <p>Eat your homecooked heart out with random strangers you invite to your home</p>
    <div class="wrap">
      <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
      </div>
    </div>
  </div>
</div>

<main class="page-content">
       <%= render 'chef_intro' %>

      <div class="row" style="margin-bottom:40px;margin-top:50px;">
        <div class="col-xs-10 col-md-2 col-md-offset-5 col-xs-offset-1">
          <button class="btn btn-primary btn-xs" style="width: 100%; padding-top:5px; padding-bottom:5px;font-size:15px;font-weight:700" onclick="$('#indexSearchForm').submit();">Book a Chef<span class="fa fa-hand-pointer-o" aria-hidden="true"></span></button>
        </div>
      </div>
<% @meals.each do |meal| %>
  <%= link_to profile_path(meal.user) do %>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class = "chefcard"> <img src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=3276&q=80">
        <div class="chef-avatar"><img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/tuf9y3gbpec7pi2hayjn.jpg"></div>
        <h5>Martin Tannenberger</h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <div class="specialty"><h6>Specialties: Sichuan</h6></div>
        </div>
      <!-- insert <div class="card"> -->
    </div>
    <% end %>
<% end %>

     <div class="col-xs-12 col-sm-4">
      <div class = "chefcard"> <img src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=3276&q=80">
        <div class="chef-avatar"><img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/udumjan8mdhk9ncegjbr.jpg"></div>
        <h5>Trey Booth</h5>
          <div class="setting">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="specialty"><h6>Specialties: Sichuan</h6></div>
          </div>
        </div>
      <!-- insert <div class="card"> -->
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class = "chefcard"> <img src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=3276&q=80">
        <div class="chef-avatar"><img src="https://avatars1.githubusercontent.com/u/35476613?v=4"></div>
        <h5>Lucas Porter-Bakker</h5>
          <div class="setting">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="specialty"><h6>Specialties: Sichuan</h6></div>
          </div>
        </div>
      <!-- insert <div class="card"> -->
    </div>

  <div class="col-xs-12 col-sm-4">
      <div class = "chefcard"> <img src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=3276&q=80">
        <div class="chef-avatar"><img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/tuf9y3gbpec7pi2hayjn.jpg"></div>
        <h5>Trey Booth</h5>
          <div class="setting">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="specialty"><h6>Specialties: Sichuan</h6></div>
          </div>
        </div>
      <!-- insert <div class="card"> -->
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class = "chefcard"> <img src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=3276&q=80">
        <div class="chef-avatar"><img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/yu5gomeqsb0caovo1kw9.jpg"></div>
        <h5>Jane Wong</h5>
          <div class="setting">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="specialty"><h6>Specialties: Sichuan</h6></div>
          </div>
        </div>
      <!-- insert <div class="card"> -->
    </div>

<div class="col-xs-12 col-sm-4">
      <div class = "chefcard"> <img src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=3276&q=80">
        <div class="chef-avatar"><img src="https://avatars1.githubusercontent.com/u/35476613?v=4"></div>
        <h5>Lucas Porter-Bakker</h5>
          <div class="setting">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="specialty"><h6>Specialties: Sichuan</h6></div>
          </div>
        </div>
      <!-- insert <div class="card"> -->
    </div>



  </div>

  <div class="row" style="margin-bottom:40px;margin-top:50px;">
        <div class="col-xs-10 col-md-2 col-md-offset-5 col-xs-offset-1">
          <button class="btn btn-primary btn-xs" style="width: 100%; padding-top:5px; padding-bottom:5px;font-size:15px;font-weight:700" onclick="$('#indexSearchForm').submit();">Broswe All Chefs<span class="fa fa-hand-pointer-o" aria-hidden="true"></span></button>
        </div>
      </div>





