.footer {
  // background-color: linear-gradient(-145deg, #6B9EC0, #637784);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  // color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

// .footer-banner {
//   linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
//   text-align: center;
//   background-attachment: fixed;
//   height: 30vh;
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-size: cover !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .footer-wrapper {
//   color: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
//   position: absolute;
//   top: 10%;
//   left: 40%;
//   width: 300px;
//   height: 500px;
//   perspective: 900px;
// }
